body {
	font: 14px Arial;
	margin: 5px;
}
.background {
	margin: 60px 80px 60px;
	background-color: #32ab9f;
	border-radius: 10px;
}
.container {
	margin: 100px 100px 100px;
}
h1 {
	font-size: 20px;
	font-weight: bold;
}
h2 {
	font-size: 14px;
	margin-bottom: 0px;
}
h3 {
	font-size: 20px;
	color: #99ccff;	
}
h4 {
	font-size: 20px;
	color: #99ccff;
}
h5 {
	font-size: 16px;
	color: #99ccff;
}
.location-date {
	font-size: 16px;
	color: #99ccff;
}
.job-date {
	font-size: 16px;
	color: #99ccff;
	float: right;
}

p {
	
}
.Uni-Info {
	font-size: 10px;	
}
.contact {
	font-size: 16px;
	font-weight: bold;
}
